<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-primary">
                    <i style="font-size: 35px; color: aliceblue; "class="fas fa-store">&nbsp; </i>
            <a class="navbar-brand align-item-center d-flex" href="#" style="color:rgb(13, 9, 71); font-family:cursive;"><b>Online Clothing Store</b> </a>
            <button style="color:rgb(13, 9, 71); font-family:cursive;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" style="color:rgb(13, 9, 71); font-family:cursive;"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href=""
                            style="color:rgb(13, 9, 71); font-family:cursive;" href="#"><b>Start</b></a>
                    </li>

                </ul>
            </div>
       
        <!-- <div class="search-right">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search">
                 
                </div>
                <span class="fas fa-search search"></span>
            </form>
        </div> -->
        <button class="btn btn-primary" (click)="open()">
            <i style="font-size: 30px; margin-left: 10px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </nav>
</header>